.hidden {
    display: none;
}

.hidden2 {
    display: none;
} 

body {
    background-color: #cdd194;
    background-image: url(/lemonade.jpg);
    background-size: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
}


.bank {
    font-weight: 800;
    font-size: 24pt;
    color: red;
}
.outerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(/images/pixel-art-cartoon-cat), url(/images/pixel-art-slot-machine), url(/images/red-banner.png6), url(/images/brick-banner.png
    );
    background-repeat: no-repeat; 
    background-position: left top, right top, left bottom, right bottom;
    background-size: 400px, 400px, 200px, 200px;
}

.innerdiv {
    width: 700px;
    background-color: #cdd194;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.spacer {
    margin: 10px;
    margin-left: 50px;
    width: max-content;
}

.spacer2 {
    margin: 10px;
    margin-left: 50px;
    width: 300px;

}

.firstForm {
    display: none;
}

.deposit {
    margin-top: 20px;
}

.dropdown-content {
    display: inline;
}

.hiddenMaster {
    display: none;
}